@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', Times, serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary-100: #71C5E8;
  --color-primary-300: #449CD5;
  --color-primary-500: #005EB8;
  --color-primary-700: #004890;
  --color-primary-900: #002855;
  --color-secondary-100: #F5ECE3;
  --color-secondary-300: #DDC0A2;
  --color-secondary-500: #56c734;
  --color-secondary-700: #886B4D;
  --color-secondary-900: #292017;
}

body{
  background: var(--color-secondary-100);
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.newsLetter{
  background: url('/newsletter-bg.png') center/cover;
  border-radius: 15px;
  margin-right: 1rem;
  min-height: 70vh;
  min-width: 60vw;
}

.optionBox{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box{
  background: rgba(38, 139, 38, 0.5);
  border-radius: 15px;
  min-height: 22vh;
  min-width: 30vw;
}

.medicos{
  background: url('/medic-bg.png') center/cover;
}

.exames{
  background: url('/exames.png') center/cover;
}
